:root {
    --dark: #1e1e1e;
    --gardient: linear-gradient(#2E335A, #1C1B33);
    --pure: #ffffff;
    --primary: #0f1644;
}

body {
    background: var(--gardient) no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.weather {
    padding: 2rem;
}

.search_wrapper input {
    color: var(--pure);
    background: transparent;
    border: none;
    border: 2px solid #2E335A;
    width: 25rem;
    height: 3rem;
    padding: 0 1rem;
    border-radius: 2rem 0 0 2rem;
}

.search_wrapper input::placeholder {
    color: var(--pure);
}

.search_wrapper input:focus {
    outline: none;
}

button {
    color: var(--pure);
    background: var(--primary);
    height: 3rem;
    width: 7rem;
    border: none;
    border-radius: 0 2em 2rem 0 !important;
}

.weather_icon {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

p {
    color: var(--pure);
}

@media only screen and (max-width: 568px) {
    .search_wrapper input {
        width: 10rem;
    }
}